[user]
	email = chrisjohnson0@gmail.com
	name = Chris Johnson
[push]
	default = simple
[core]
	editor = vim
	excludesFile = ~/.home/.gitignore-global
[alias]
	fpush = push --force-with-lease
	apush = push --all
	mpush = push origin :
[url "ssh://git@github.com/"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
	pushInsteadOf = http://github.com/
	pushInsteadOf = gh:
[include]
	path = ~/.gitconfig-local
