[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/cake.vim"]
	path = .vim/pack/plugins/start/cake.vim
	url = https://github.com/violetyk/cake.vim.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/pack/plugins/start/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/pack/plugins/start/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".zsh/bundles/syntax-highlighting"]
	path = .zsh/bundles/syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/pack/plugins/start/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/linediff.vim"]
	path = .vim/pack/plugins/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule ".vim/bundle/mustache"]
	path = .vim/pack/plugins/start/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/pack/plugins/start/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/surround.vim"]
	path = .vim/pack/plugins/start/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-gutentags"]
	path = .vim/pack/plugins/start/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/pack/plugins/start/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/vim-tmux"]
	path = .vim/pack/plugins/start/vim-tmux
	url = git@github.com:tmux-plugins/vim-tmux.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/pack/plugins/start/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-rooter"]
	path = .vim/pack/plugins/start/vim-rooter
	url = git@github.com:airblade/vim-rooter.git
[submodule ".vim/bundle/vim-grep"]
	path = .vim/pack/plugins/start/vim-grep
	url = git@github.com:chrisjohnson/vim-grep.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/pack/plugins/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule ".vim/bundle/vim-characterize"]
	path = .vim/pack/plugins/start/vim-characterize
	url = git@github.com:tpope/vim-characterize.git
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/pack/plugins/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule ".vim/bundle/vim-surround_custom_mapping"]
	path = .vim/pack/plugins/start/vim-surround_custom_mapping
	url = git@github.com:t9md/vim-surround_custom_mapping.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/fzf-base"]
	path = .vim/pack/plugins/start/fzf-base
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/sudo.vim"]
	path = .vim/pack/plugins/start/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule ".vim/bundle/tabular"]
	path = .vim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/pack/plugins/start/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".vim/pack/plugins/start/vim-foldfunctions"]
	path = .vim/pack/plugins/start/vim-foldfunctions
	url = git@github.com:chrisjohnson/vim-foldfunctions.git
[submodule ".vim/pack/plugins/start/vim-peekaboo"]
	path = .vim/pack/plugins/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule ".vim/pack/plugins/start/vim-qf"]
	path = .vim/pack/plugins/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule ".vim/pack/plugins/start/vim-misc"]
	path = .vim/pack/plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/pack/plugins/start/vim8-bracketed-paste-mode-tmux"]
	path = .vim/pack/plugins/start/vim8-bracketed-paste-mode-tmux
	url = git@github.com:chrisjohnson/vim8-bracketed-paste-mode-tmux.git
[submodule ".vim/pack/plugins/start/incsearch.vim"]
	path = .vim/pack/plugins/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule ".vim/pack/plugins/start/vim-cucumber"]
	path = .vim/pack/plugins/start/vim-cucumber
	url = git@github.com:chrisjohnson/vim-cucumber.git
