!.zshrc
!.vim*
!.config/openbox/*
!.zsh/*
*.zsh/cache/*
*.gitignore*
*.vim/swap*
*.vim/undo*
*/doc/tags
*.vim/ruby/command-t*
*.vim/ruby/command-t/*
*.vim/.netrwhist*
*.vim/sessions/*
*.vim/.VimballRecord*
*.viminfo*
*.vimrc.old
*.vimrc_local
*.tmux/plugins/*
*.tmux/resurrect
